---
import BaseLayout from "@layouts/BaseLayout.astro";
const posts = await Astro.glob("./*.md");
---

<BaseLayout title="Blog">
  <h2>Blog</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <div class="flex flex-col">
            <a href={post.url} class="underline">
              {post.frontmatter.title}
            </a>
            <span class="text-sm ml-2">
              {post.frontmatter.date.split("T")[0]}
            </span>
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
