---
import BaseLayout from "@layouts/BaseLayout.astro";

interface Post {
  [key: string]: {
    frontmatter: {
      title: string;
      date: string;
      tags: string[];
    };
    url: string;
  };
}
const posts: Post = import.meta.glob("./*.md", { eager: true });
---

<BaseLayout title="Blog">
  <h2>Blog</h2>
  <ul>
    {
      Object.values(posts).map((post) => (
        <li>
          <div class="flex justify-between">
            <a href={post.url} class="underline">
              {post.frontmatter.title}
            </a>
            <span class="ml-2">
              {new Date(post.frontmatter.date).toLocaleDateString()}
            </span>
          </div>
          {post.frontmatter.tags.map((tag: string) => (
            <span class="ml-2">#{tag}</span>
          ))}
        </li>
      ))
    }
  </ul>
</BaseLayout>
