---
import BaseLayout from "@layouts/BaseLayout.astro";
const posts = await Astro.glob("./*.md");
---

<BaseLayout title="Blog">
  <h2>Blog</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <div class="flex justify-between">
            <a href={post.url} class="underline">
              {post.frontmatter.title}
            </a>
            <span class="text-sm ml-2">
              {new Date(post.frontmatter.date).toLocaleDateString()}
            </span>
          </div>
          {post.frontmatter.tags.map((tag: string) => (
            <span class="text-sm ml-2">#{tag}</span>
          ))}
        </li>
      ))
    }
  </ul>
</BaseLayout>
