---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h2>Welcome!</h2>
  <p>
    I'm a human interested in maths, education, technology and the intersection
    of these three fields. Currently I'm studying for becoming a high school
    teacher at the public schooling system in Spain
  </p>
  <p>
    My main interests are:
    <ul>
      <li>
        Mathematics
        <ul>
          <li>
            Algebra
            <ul>
              <li>Category Theory</li>
              <li>Algebraic Geometry</li>
            </ul>
          </li>
          <li>
            Geometry
            <ul>
              <li>Euclidean Geometry</li>
            </ul>
          </li>
          <li>
            Probability Theory
            <ul>
              <li>Information theory</li><li>Financial Mathematics</li>
            </ul>
          </li>
        </ul>
        <li>
          Education
          <ul>
            <li>Geogebra</li>
            <li>Olympiad training</li>
            <li>Technology</li>
          </ul>
        </li>
        <li>
          Technology
          <ul>
            <li>Web Development</li>
            <li>Machine Learning</li>
          </ul>
        </li>
      </li>
    </ul>
  </p>
</BaseLayout>
