---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">
  <h2>Projects</h2>
  <ul>
    <li>
      <div class="flex justify-between">
        <a href="https://ellipool.vercel.app" class="underline">Ellipool</a>
        <span class="text-sm ml-2"> 2025 </span>
      </div>
      <span class="text-sm">
        An interactive game for teaching the focal property of ellipses in a fun
        way: with an elliptic pool game.
      </span>
    </li>
  </ul>
</BaseLayout>
