---
const { title = "David Lozano's Blog" } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Personal blog and portfolio of David Lozano - Mathematics, Education and Technology"
    />
    <meta
      name="keywords"
      content="mathematics, education, technology, programming, machine learning, web development, teaching"
    />
    <meta name="author" content="David Lozano" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Personal blog and portfolio of David Lozano - Mathematics, Education and Technology"
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="Personal blog and portfolio of David Lozano - Mathematics, Education and Technology"
    />
    <title>{title}</title>
  </head>
  <body>
    <table class="header">
      <tr>
        <td class="width-auto">
          <h1 class="title">David Lozano</h1>
        </td>
        <td class="width-min">
          <a href="/">Home</a>
        </td>
        <td class="width-min">
          <a href="/blog">Blog</a>
        </td>
        <td class="width-min">
          <a href="/projects">Projects</a>
          <td class="width-min">
            <a href="/about">About</a>
          </td>
        </td>
      </tr>
    </table>

    <main>
      <slot />
    </main>
  </body>
</html>
